@{
    ViewData["Title"] = "Home Page";
    
}
<!-- HERO-9
	============================================= -->
	<section id="hero-9" class="hero-section">	
		<div id="heroCarousel" class="carousel slide" data-ride="carousel">


			<!-- SLIDER CONTENT -->
			<div class="carousel-inner">


				<!-- SLIDE 1 -->
				<div id="carousel-slide-1" class="bg-fixed carousel-item active">
					<div class="mask d-flex align-items-center">
				        <div class="container">
					        <div class="row">

						        <!-- SLIDE-1 TEXT -->
						        <div class="col-md-8 col-lg-7">
						           	<div class="hero-txt">

						           		<!-- Title -->
						       			<h5 class="blue-color">Welcome to MedService</h5>
						       			<h2 class="steelblue-color">We will help you <span>to become healthy</span></h2>
								        
								        <!-- Text -->
										<p class="p-md">
										</p>Sağlıkta teknolojinin sunduğu imkanları en verimli şekilde kullanarak hastaların sağlık hizmetlerine erişimini kolaylaştıran bir yeniliğe hazır mısınız? Artık sağlık randevularınızı almak hiç bu kadar kolay olmamıştı! Yepyeni Sağlık Hastane Randevu Otomasyon Sistemi ile sağlık randevularınızı almak, yönetmek ve takip etmek artık parmaklarınızın ucunda.

										

						            </div> 
						        </div>

					        </div>
					    </div>
				    </div>
			    </div>	<!-- END SLIDE 1 -->


			    <!-- SLIDE 2 -->
				<div id="carousel-slide-2" class="bg-fixed carousel-item">
					<div class="mask d-flex align-items-center">
				        <div class="container">
					        <div class="row">

						        <!-- SLIDE-2 TEXT -->
						        <div class="col-md-8 col-lg-7 offset-md-4 offset-lg-5">
						           	<div class="hero-txt">

						           		<!-- Title -->
					        			<h5 class="blue-color">Our clinic Provide</h5>
								        <h2 class="steelblue-color"><span>Best Quality</span> Medical Treatment for You</h2>
								        
								        <!-- Text -->
										<p class="p-md">Artık sağlık randevularınızı almak için uzun kuyruklarda beklemek zorunda değilsiniz. Sağlık Hastane Randevu Otomasyon Sistemi ile sağlık hizmetlerine erişimde yeni bir döneme adım atın!
										</p>

										
						            </div> 
						        </div>

					        </div>
					    </div>
				    </div>
			    </div>	<!-- END SLIDE 2 -->


			    <!-- SLIDE 3 -->
				<div id="carousel-slide-3" class="bg-fixed carousel-item">
					<div class="mask d-flex align-items-center">
				        <div class="container">
					        <div class="row">

						        <!-- SLIDE-3 TEXT -->
						        <div class="col-md-8 col-lg-7">
						           	<div class="hero-txt">

						           		<!-- Title -->
						       			<h5 class="blue-color">Why Choose Our clinic</h5>
								        <h2 class="steelblue-color">We <span>will Care</span> About Your Health</h2>

		                                <!-- Option Box #1 -->
										<div class="box-list">							
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-md">Sağlık Hastane Randevu Otomasyon Sistemi olarak, sağlık hizmetlerine erişimi kolaylaştırmak ve daha iyi bir deneyim sunmak için buradayız. Teknolojiyi kullanarak, sağlık randevularınızı almak ve yönetmek için en iyi araçları size sunuyoruz.
											</p>						
										</div>

										<!-- Option Box #2 -->
										<div class="box-list">	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-md"></p>		
										</div>

										<!-- Option Box #3 -->
										<div class="box-list">	
											<div class="box-list-icon blue-color"><i class="fas fa-angle-double-right"></i></div>
											<p class="p-md">
											</p>		
										</div>

						            </div> 
						        </div>								    

					        </div>
					    </div>
				    </div>
			    </div>	<!-- END SLIDE 3 -->


			</div>	<!-- END SLIDER CONTENT -->


			<!-- SLIDER NAVIGATION -->
			<div class="carousel-nav white-nav">

				<a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev"> 
					<span class="carousel-control-prev-icon" aria-hidden="true"></span> 
				</a> 

				<a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next"> 
					<span class="carousel-control-next-icon" aria-hidden="true"></span> 
				</a> 

			</div>


		</div>
	</section>	<!-- END HERO-9 -->



